streamlit 
pyngrok 
SpeechRecognition 
pydub 
transformers 
gtts 
ffmpeg
accelerate
# resolving "No inf checks were recorded for this optimizer." issue
optimum 
peft 
#uninstall torch -y
torch 
auto-gptq 
bitsandbytes 
SpeechRecognition 
pydub 
