# installations
streamlit --q
pyngrok --q
SpeechRecognition --q
pydub --q
transformers --q
gtts --q
!apt-get install -y ffmpeg
accelerate
# resolving "No inf checks were recorded for this optimizer." issue
optimum --q
peft --q
uninstall torch -y
torch==2.1 --q
auto-gptq --upgrade --q
bitsandbytes --q
SpeechRecognition --q
pydub --q
